USE [master]
GO
/****** Object:  Database [dsrp_prestamos_financieros]    Script Date: 12/09/2024 21:26:40 ******/
CREATE DATABASE [dsrp_prestamos_financieros]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dsrp_prestamos_financieros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dsrp_prestamos_financieros]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[tipo_cliente] [varchar](100) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuotas]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuotas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prestamo_id] [int] NOT NULL,
	[numero_cuota] [int] NOT NULL,
	[monto_cuota] [money] NOT NULL,
	[estado_cuota_id] [int] NULL,
	[fecha_vencimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalles_cuotas_pagos]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_cuotas_pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cuota_id] [int] NOT NULL,
	[pago_id] [int] NOT NULL,
	[saldo_restante] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[persona_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
	[supervisor_id] [int] NULL,
	[fecha_ingreso] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_cuota]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_cuota](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_prestamo]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_prestamo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodos_pago]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodos_pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[estado] [bit] NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pagos]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pagos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[metodo_pago_id] [int] NOT NULL,
	[codigo_operacion] [varchar](20) NOT NULL,
	[monto_pagado] [money] NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
	[created_by] [int] NOT NULL,
	[updated_by] [int] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_juridicas]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_juridicas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](20) NOT NULL,
	[razon_social] [varchar](255) NOT NULL,
	[domicilio_fiscal] [nvarchar](1000) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[fecha_constitucion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas_naturales]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas_naturales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_documento] [varchar](15) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellido_paterno] [varchar](255) NOT NULL,
	[apellido_materno] [varchar](255) NOT NULL,
	[direccion] [nvarchar](1000) NOT NULL,
	[celular] [varchar](15) NOT NULL,
	[email] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prestamos]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prestamos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[sucursal_id] [int] NOT NULL,
	[tipo_prestamo_id] [int] NOT NULL,
	[oficial_credito_id] [int] NOT NULL,
	[estado_prestamo_id] [int] NOT NULL,
	[monto] [money] NOT NULL,
	[tasa_interes] [decimal](9, 4) NOT NULL,
	[plazo_meses] [int] NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
 CONSTRAINT [PK__prestamo__3213E83F434F579F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[direccion] [nvarchar](500) NOT NULL,
	[gerente_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_prestamo]    Script Date: 12/09/2024 21:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_prestamo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](155) NOT NULL,
	[estado] [bit] NOT NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [persona_id], [tipo_cliente], [fecha_registro]) VALUES (1, 1, N'Persona Jurídica', CAST(N'2024-09-05T22:02:13.053' AS DateTime))
INSERT [dbo].[clientes] ([id], [persona_id], [tipo_cliente], [fecha_registro]) VALUES (2, 2, N'Persona Jurídica', CAST(N'2024-09-05T22:02:13.053' AS DateTime))
INSERT [dbo].[clientes] ([id], [persona_id], [tipo_cliente], [fecha_registro]) VALUES (3, 3, N'Persona Jurídica', CAST(N'2024-09-05T22:02:13.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id], [persona_id], [sucursal_id], [supervisor_id], [fecha_ingreso]) VALUES (155, 33, 2, NULL, CAST(N'2024-05-05' AS Date))
INSERT [dbo].[empleados] ([id], [persona_id], [sucursal_id], [supervisor_id], [fecha_ingreso]) VALUES (156, 34, 2, 155, CAST(N'2024-05-05' AS Date))
INSERT [dbo].[empleados] ([id], [persona_id], [sucursal_id], [supervisor_id], [fecha_ingreso]) VALUES (157, 35, 12, NULL, CAST(N'2020-02-12' AS Date))
GO
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_cuota] ON 

INSERT [dbo].[estados_cuota] ([id], [nombre], [descripcion]) VALUES (1, N'Pendiente', N'La cuota está programada para ser pagada, pero aún no se ha realizado el pago.')
INSERT [dbo].[estados_cuota] ([id], [nombre], [descripcion]) VALUES (2, N'Pagada', N'La cuota ha sido completamente pagada.')
INSERT [dbo].[estados_cuota] ([id], [nombre], [descripcion]) VALUES (3, N'Parcialmente Pagada', N'Se ha realizado un pago parcial de la cuota, pero aún queda un saldo pendiente.')
SET IDENTITY_INSERT [dbo].[estados_cuota] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_prestamo] ON 

INSERT [dbo].[estados_prestamo] ([id], [nombre], [descripcion]) VALUES (1, N'Pendiente de Aprobación', N'El préstamo ha sido solicitado, pero aún no ha sido aprobado.')
INSERT [dbo].[estados_prestamo] ([id], [nombre], [descripcion]) VALUES (2, N'Aprobado', N'El préstamo ha sido revisado y aprobado, pero los fondos aún no han sido desembolsados.')
INSERT [dbo].[estados_prestamo] ([id], [nombre], [descripcion]) VALUES (3, N'Desembolsado', N'El préstamo ha sido aprobado y los fondos han sido entregados al cliente.')
SET IDENTITY_INSERT [dbo].[estados_prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[metodos_pago] ON 

INSERT [dbo].[metodos_pago] ([id], [nombre], [estado], [descripcion]) VALUES (1, N'Tarjeta de Crédito', 1, N'Pago realizado con tarjeta de crédito')
INSERT [dbo].[metodos_pago] ([id], [nombre], [estado], [descripcion]) VALUES (2, N'Transferencia Bancaria', 1, N'Pago realizado mediante transferencia bancaria')
INSERT [dbo].[metodos_pago] ([id], [nombre], [estado], [descripcion]) VALUES (3, N'Efectivo', 1, N'Pago realizado en efectivo en la sucursal')
SET IDENTITY_INSERT [dbo].[metodos_pago] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_juridicas] ON 

INSERT [dbo].[personas_juridicas] ([id], [numero_documento], [razon_social], [domicilio_fiscal], [telefono], [email], [fecha_constitucion]) VALUES (1, N'12345678910', N'JKC Tecnología e Información', N'Huaraz-Ancash', N'32165894', N'jkcit@gmail.com', CAST(N'2020-05-05' AS Date))
INSERT [dbo].[personas_juridicas] ([id], [numero_documento], [razon_social], [domicilio_fiscal], [telefono], [email], [fecha_constitucion]) VALUES (2, N'20100000001', N'Empresa Alpha S.A.', N'AV. Industrial 123', N'01857687', N'emp@gmail.com', CAST(N'2000-01-15' AS Date))
INSERT [dbo].[personas_juridicas] ([id], [numero_documento], [razon_social], [domicilio_fiscal], [telefono], [email], [fecha_constitucion]) VALUES (3, N'20100000002', N'Beta Corp.', N'Calle Comercio 456', N'01857687', N'bet@gmail.com', CAST(N'2001-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[personas_juridicas] OFF
GO
SET IDENTITY_INSERT [dbo].[personas_naturales] ON 

INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [direccion], [celular], [email]) VALUES (1, N'12345678', N'Juan', N'Pérez', N'González', N'Av. Siempre Viva 123', N'987654321', N'jpérezg@gmail.com')
INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [direccion], [celular], [email]) VALUES (2, N'23456789', N'María', N'López', N'Ramírez', N'Calle Falsa 456', N'987654322', N'mlópezr@gmail.com')
INSERT [dbo].[personas_naturales] ([id], [numero_documento], [nombres], [apellido_paterno], [apellido_materno], [direccion], [celular], [email]) VALUES (3, N'34567890', N'Carlos', N'Fernández', N'Torres', N'Av. Principal 789', N'987654323', N'cfernándezt@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[personas_naturales] OFF
GO
SET IDENTITY_INSERT [dbo].[prestamos] ON 

INSERT [dbo].[prestamos] ([id], [cliente_id], [sucursal_id], [tipo_prestamo_id], [oficial_credito_id], [estado_prestamo_id], [monto], [tasa_interes], [plazo_meses], [fecha_inicio]) VALUES (1, 30, 11, 4, 217, 10, 70871.9000, CAST(0.7300 AS Decimal(9, 4)), 25, CAST(N'2024-06-24T21:23:27.520' AS DateTime))
INSERT [dbo].[prestamos] ([id], [cliente_id], [sucursal_id], [tipo_prestamo_id], [oficial_credito_id], [estado_prestamo_id], [monto], [tasa_interes], [plazo_meses], [fecha_inicio]) VALUES (2, 4, 11, 4, 269, 2, 83887.9300, CAST(0.6700 AS Decimal(9, 4)), 18, CAST(N'2024-06-23T21:23:27.553' AS DateTime))
INSERT [dbo].[prestamos] ([id], [cliente_id], [sucursal_id], [tipo_prestamo_id], [oficial_credito_id], [estado_prestamo_id], [monto], [tasa_interes], [plazo_meses], [fecha_inicio]) VALUES (3, 53, 13, 1, 238, 6, 34364.8300, CAST(0.5400 AS Decimal(9, 4)), 31, CAST(N'2023-10-17T21:23:27.587' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([id], [nombre], [telefono], [direccion], [gerente_id]) VALUES (1, N'La molina', N'654789123', N'Av. la molina', NULL)
INSERT [dbo].[sucursales] ([id], [nombre], [telefono], [direccion], [gerente_id]) VALUES (2, N'Lima-Cercado', N'654789124', N'Av. Alfonso Ugarte', NULL)
INSERT [dbo].[sucursales] ([id], [nombre], [telefono], [direccion], [gerente_id]) VALUES (3, N'Banco Central - Lima', N'654789125', N'Av. Principal 123, Lima', NULL)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_prestamo] ON 

INSERT [dbo].[tipos_prestamo] ([id], [nombre], [estado], [descripcion]) VALUES (1, N'Préstamo Hipotecario', 1, N'Préstamo para la compra de bienes inmuebles')
INSERT [dbo].[tipos_prestamo] ([id], [nombre], [estado], [descripcion]) VALUES (2, N'Préstamo Automotriz', 1, N'Préstamo para la compra de vehículos')
INSERT [dbo].[tipos_prestamo] ([id], [nombre], [estado], [descripcion]) VALUES (3, N'Préstamo Personal', 1, N'Préstamo para gastos personales no especificados')
SET IDENTITY_INSERT [dbo].[tipos_prestamo] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__estados___72AFBCC6EB9BC0FE]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[estados_cuota] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__estados___72AFBCC620F03E8C]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[estados_prestamo] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__metodos___72AFBCC63FA73443]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[metodos_pago] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__7B886A63C9CF1CDB]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[personas_juridicas] ADD UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personas__7B886A63304F4870]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[personas_naturales] ADD UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__72AFBCC660481274]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tipos_pr__72AFBCC6D7D23898]    Script Date: 12/09/2024 21:26:41 ******/
ALTER TABLE [dbo].[tipos_prestamo] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[cuotas] ADD  DEFAULT (getdate()) FOR [fecha_vencimiento]
GO
ALTER TABLE [dbo].[pagos] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[prestamos] ADD  CONSTRAINT [DF__prestamos__fecha__3E52440B]  DEFAULT (getdate()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [FK__cuotas__fecha_ve__45F365D3] FOREIGN KEY([prestamo_id])
REFERENCES [dbo].[prestamos] ([id])
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [FK__cuotas__fecha_ve__45F365D3]
GO
ALTER TABLE [dbo].[cuotas]  WITH CHECK ADD  CONSTRAINT [FK_cuotas_estados] FOREIGN KEY([estado_cuota_id])
REFERENCES [dbo].[estados_cuota] ([id])
GO
ALTER TABLE [dbo].[cuotas] CHECK CONSTRAINT [FK_cuotas_estados]
GO
ALTER TABLE [dbo].[detalles_cuotas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_cuotas_pagos_cuotas] FOREIGN KEY([cuota_id])
REFERENCES [dbo].[cuotas] ([id])
GO
ALTER TABLE [dbo].[detalles_cuotas_pagos] CHECK CONSTRAINT [fk_detalle_cuotas_pagos_cuotas]
GO
ALTER TABLE [dbo].[detalles_cuotas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_cuotas_pagos_pagos] FOREIGN KEY([pago_id])
REFERENCES [dbo].[pagos] ([id])
GO
ALTER TABLE [dbo].[detalles_cuotas_pagos] CHECK CONSTRAINT [fk_detalle_cuotas_pagos_pagos]
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_persona_natural_empleado] FOREIGN KEY([persona_id])
REFERENCES [dbo].[personas_naturales] ([id])
GO
ALTER TABLE [dbo].[empleados] CHECK CONSTRAINT [fk_persona_natural_empleado]
GO
ALTER TABLE [dbo].[pagos]  WITH CHECK ADD FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[metodos_pago] ([id])
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK__prestamos__fecha__3F466844] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK__prestamos__fecha__3F466844]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK__prestamos__ofici__4222D4EF] FOREIGN KEY([oficial_credito_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK__prestamos__ofici__4222D4EF]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK__prestamos__sucur__403A8C7D] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK__prestamos__sucur__403A8C7D]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK__prestamos__tipo___412EB0B6] FOREIGN KEY([tipo_prestamo_id])
REFERENCES [dbo].[tipos_prestamo] ([id])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK__prestamos__tipo___412EB0B6]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK_prestamos_estados] FOREIGN KEY([estado_prestamo_id])
REFERENCES [dbo].[estados_prestamo] ([id])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK_prestamos_estados]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [CHECK_MONTO] CHECK  (([monto]>=(10)))
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [CHECK_MONTO]
GO
USE [master]
GO
